node_modules
.env
.solhintignore
.solhint.json
.npmignore
.eslintrc.js
coverage
coverage.json
typechain
pnpm-lock.yaml
package-lock.json
*.DS_Store
out/

#Hardhat files
!cache/solidity-files-cache.json
cache/*
artifacts
pnpm-lock.yaml
abi
typechain-types/

*.lock
package-lock.json
.deps
./tokens.json

broadcast/
